.container {
    text-align: center;

    .wellcomeTitle {
        margin-top: 45px;
        font-weight: bold;
    }
    .wellcomeDes {
        margin-bottom: 45px;
    }
    .wellcomeImg {
        width: 380px;
    }
    
    .wellcomeSubTitle {
        margin-top: 45px;
        color: #0091ff;
        font-weight: 600;
        font-size: 18px;
    }

}
